:root{
    --title:'Bacasime Antique', serif;
    --text:'Hind Madurai', sans-serif;
    --color-text:rgb(255, 255, 255);
    --color-text2:rgb(180, 180, 180);
}
.header{
    background-image:url(../assets/home/background-home-mobile.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-x: auto;
}
.line{
    display: none;
}
.hamburger{
    background-image: url(../assets/shared/icon-hamburger.svg);
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.link_tablet{
    display: none;
}
.navegation{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}
.container__links__tablet{
    display: none;
}
.section{
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    text-align: center;
}
.text{
    color: var(--color-text2);
    font-family: var(--text);
}
.text2{
    color: var(--color-text2);
    letter-spacing: 0.5px;
}
.title{
    margin: 20px 0px ;
    font-family: var(--title);
    color: var(--color-text);
    font-size: 70px;
    letter-spacing: 6.5px;
}
.container__text__h1{
    max-width: 300px;
    margin: 0 auto;
}
.text3{
    margin-bottom: 10%;
}
.explore__container{
    width: 100px;
    height: 100px;
    background-color: rgb(228, 224, 224);
    justify-self: center;
    display: grid;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}
.explore__link{
    text-decoration: none;
    color: black;
    text-transform:uppercase;
}
.label{
    justify-self: end;
    cursor: pointer;
}
.menu{
    display: none;
}
.menu__form{
    /*hacemos flexible la caja para acomodar los elementos*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*le decimso con el top 80px que se vaya hasta arriba pero que deje un margen de 80px*/
    top: 0;
    /*con el bottom 0 indicamos que cubra toda la pantalla, termine en el 0*/
    bottom: 0;
    /*la posicion la volvemos fixed, quiere decir que se va a mantener en su posicion fija*/
    position: fixed;
    width: 100%;
    height: 100%;
    /*con el left 0 le decimo que cubra hasta la izquierda*/
    left: 0;

    /*con el clip-path le decimos que la forma sea de un circulo, y que de inicio, mida 0% del contenedor y que inicie desde el centro por lo tanto al medir 0%, el contenedor no se mostara, si le pusieramos otro porcentaje, se mostraria acorde a su porcentaje */
    clip-path:circle(0% at left);
    /*transicion para que se muestre la animacion del clip-path*/
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-in-out;
}
.menu:checked + .menu__form{
    /*aqui ya le decimos que se muestre, y que llegue hasta el 100% de su contenedor*/
    clip-path: circle(100% at left);
    clip-path: inset(0 0 0 0);
}


.list__menu{
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url(../assets/crew/maxresdefault.jpg);
   overflow-x: hidden;
   overflow-y: hidden;
}
.list_form{
    background-image: url(../assets/crew/black2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin: auto;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px white;
    
}
.links{
    padding-left: 30%;
    text-decoration: none;
    color: rgb(149, 116, 224);
    font-family: var(--text);
    text-shadow: 1px 1px 10px rgb(69, 5, 143);
    
}
.links:hover{
    text-shadow: 1px 1px 10px rgb(231, 231, 231);
}

@media(min-width:750px) {
    .label,.menu__form, .list_form, .menu__form, .hamburger{
        display: none;
    }
    .menu__form{
        width: 0%;
        height: 0%;
    }
    .header{
        background-image:url(..assets/home/background-home-tablet.jpg);
        height: 100vh;
    }
    .text3{
        margin-bottom: 10%;
    }
    .link_tablet{
        color: white;
        display: block;
        text-decoration: none;
        font-family: var(--text);
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .link_tablet:hover{
        color: rgba(211, 211, 211, 0.37);
        transform: scale(1.2);
        height:80%;
        transition: 0.4s;
        transition-delay: 0.2s;
    }
    .home{
        border-bottom: 3px solid whitesmoke;
    }
    .navegation{
        width: 100%;
        height: 100px;
        padding: 0px;
        align-self: center;
        margin-bottom: 30px;
    }
    .logo{
        margin-left: 10%;
    }
    .container__links__tablet{
        align-self: center;
        justify-self: end;
        display: initial;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 80%;
        background-color:transparent;
    }
    .background{
        position: absolute;
        width: 55%;
        z-index:-3;
        height: 14.5%;
        filter: opacity(10%);
        background-color: rgb(72, 72, 73);
        right: 0;
    }
}
@media(min-width:1000px) {
    .header{
        background-image:url(../assets/home/background-home-desktop.jpg);
    position: relative;
    z-index: 2;
    height: 100vh;
    }
    .background{
        background: rgb(0, 0, 0);
        z-index: -1;
        filter: blur(50px);
        opacity: 10px;
    }
    .line{
        display: initial;
        height: 2px;
        width: 46%;
        left: 10%;
        background-color: rgb(48, 45, 45);
        position: absolute;
    }   
    .section{
        display: flex;
        max-width: 1000px;
        margin-top: 100px;
    }
    .container_text{
        margin:0;
        width: 400px;
        text-align: start;
    }
    .text3, .text2{
        text-align: start;
        font-size: 17px;
    }
    .container__text__h1{
        max-width: none;
    }
    .title{
        font-size: 120px;
    }
    .explore__container{
        width: 200px;
        height: 200px;
    }

}